<header>
  <div class="container">
    <div class="row">
      <div class="logo-box">
        <h3> <b>autodeal</b> </h3>
      </div>
        <nav>
          <ul>
            <li>
              <a>New cars</a>
              <div class="sub-menu">
                <div class="header">
                <div id="exTab1">	
                    <div class="container">
                      <ul  class="nav nav-pills" style="padding: 19px 0px !important;">
                        <li>
                          <a   (click)="tabTrigger('boxOne')">By Make</a>
                        </li>
                        <li><a   (click)="tabTrigger('boxTwo')">By Type</a>
                        </li>
                        <!-- <li><a href="#3a" data-toggle="tab">Applying clearfix</a>
                        </li>
                        <li><a href="#4a" data-toggle="tab">Background color</a>
                        </li> -->
                      </ul>
                    </div>
                  </div>
                </div>
                        <div class="container">
                          <div class="tab-content clearfix">
                            <div class="tab-pane" *ngIf="boxType == 'boxOne'">
                              <div class="row">
                                <div class="first-colum">
                                  <P> <span>
                                    Abarth</span> </P>
                                  <P> <span>
                                    Alfa Romeo</span> </P>
                                  <P> <span>
                                    Audi</span> </P>
                                  <P> <span>
                                   <a href="https://www.carwow.co.uk/bmw" >BMW</a> </span> </P>
                                  <P> <span>
                                    Bentley</span> </P>
                                  <P> <span>
                                    Citroen</span> </P>
                                  <P> <span>
                                    DS</span> </P>
                                  <P> <span>
                                    Dacia</span> </P>
                                </div>

                                <div class="first-colum">
                                  <P> <span>
                                    Fiat</span> </P>
                                  <P> <span>
                                    Ford</span> </P>
                                  <P> <span>
                                    Honda</span> </P>
                                  <P> <span>
                                    Hyundai</span> </P>
                                  <P> <span>
                                    Jaguar</span> </P>
                                  <P> <span>
                                    Jeep</span> </P>
                                  <P> <span>
                                    Kia</span> </P>
                                  <P> <span>
                                    Land Rover</span> </P>
                                </div>


                                <div class="first-colum">
                                  <P> <span>
                                    Abarth</span> </P>
                                  <P> <span>
                                    Alfa Romeo</span> </P>
                                  <P> <span>
                                    Audi</span> </P>
                                  <P> <span>
                                    <a href="https://www.carwow.co.uk/bmw" >BMW</a></span> </P>
                                  <P> <span>
                                    Bentley</span> </P>
                                  <P> <span>
                                    Citroen</span> </P>
                                  <P> <span>
                                    DS</span> </P>
                                  <P> <span>
                                    Dacia</span> </P>
                                </div>



                                <div class="first-colum">
                                  <P> <span>
                                    Fiat</span> </P>
                                  <P> <span>
                                    Ford</span> </P>
                                  <P> <span>
                                    Honda</span> </P>
                                  <P> <span>
                                    Hyundai</span> </P>
                                  <P> <span>
                                    Jaguar</span> </P>
                                  <P> <span>
                                    Jeep</span> </P>
                                  <P> <span>
                                    Kia</span> </P>
                                  <P> <span>
                                    Land Rover</span> </P>
                                </div>


                                <div class="first-colum">
                                  <P> <span>
                                    Abarth</span> </P>
                                  <P> <span>
                                    Alfa Romeo</span> </P>
                                  <P> <span>
                                    Audi</span> </P>
                                  <P> <span>
                                    <a href="https://www.carwow.co.uk/bmw" >BMW</a></span> </P>
                                  <P> <span>
                                    Bentley</span> </P>
                                  <P> <span>
                                    Citroen</span> </P>
                                  <P> <span>
                                    DS</span> </P>
                                  <P> <span>
                                    Dacia</span> </P>
                                </div>



                              </div>
                            </div>

                           
                         

                          <div class="tab-pane" *ngIf="boxType == 'boxTwo'">
                            <div class="row">
                           

                              <div class="first-colum">
                                <P> <span>
                                  Fiat</span> </P>
                                <P> <span>
                                  Ford</span> </P>
                                <P> <span>
                                  Honda</span> </P>
                                <P> <span>
                                  Hyundai</span> </P>
                                <P> <span>
                                  Jaguar</span> </P>
                                <P> <span>
                                  Jeep</span> </P>
                                <P> <span>
                                  Kia</span> </P>
                                <P> <span>
                                  Land Rover</span> </P>
                              </div>


                              <div class="first-colum">
                                <P> <span>
                                  Abarth</span> </P>
                                <P> <span>
                                  Alfa Romeo</span> </P>
                                <P> <span>
                                  Audi</span> </P>
                                <P> <span>
                                  <a href="https://www.carwow.co.uk/bmw" >BMW</a></span> </P>
                                <P> <span>
                                  Bentley</span> </P>
                                <P> <span>
                                  Citroen</span> </P>
                                <P> <span>
                                  DS</span> </P>
                                <P> <span>
                                  Dacia</span> </P>
                              </div>


                              <div class="first-colum">
                                <P> <span>
                                  Abarth</span> </P>
                                <P> <span>
                                  Alfa Romeo</span> </P>
                                <P> <span>
                                  Audi</span> </P>
                                <P> <span>
                                  <a href="https://www.carwow.co.uk/bmw" >BMW</a></span> </P>
                                <P> <span>
                                  Bentley</span> </P>
                                <P> <span>
                                  Citroen</span> </P>
                                <P> <span>
                                  DS</span> </P>
                                <P> <span>
                                  Dacia</span> </P>
                              </div>



                              <div class="first-colum">
                                <P> <span>
                                  Fiat</span> </P>
                                <P> <span>
                                  Ford</span> </P>
                                <P> <span>
                                  Honda</span> </P>
                                <P> <span>
                                  Hyundai</span> </P>
                                <P> <span>
                                  Jaguar</span> </P>
                                <P> <span>
                                  Jeep</span> </P>
                                <P> <span>
                                  Kia</span> </P>
                                <P> <span>
                                  Land Rover</span> </P>
                              </div>


                              <div class="first-colum">
                                <P> <span>
                                  Abarth</span> </P>
                                <P> <span>
                                  Alfa Romeo</span> </P>
                                <P> <span>
                                  Audi</span> </P>
                                <P> <span>
                                  <a href="https://www.carwow.co.uk/bmw" >BMW</a></span> </P>
                                <P> <span>
                                  Bentley</span> </P>
                                <P> <span>
                                  Citroen</span> </P>
                                <P> <span>
                                  DS</span> </P>
                                <P> <span>
                                  Dacia</span> </P>
                              </div>



                            </div>
                          </div>
                          </div>

                     

                          
                        </div>

                        <footer>
                          <p>Not sure what you want? Find your perfect car with our <span class="fc-primary"> <b>Car chooser</b> </span> </p>
                        </footer>
                  
              </div>
            </li>
            <li>
              <a>Used cars</a>
            </li>
            <li>
              <a>Car reviews</a>
            </li>
            <li>
              <a>Car leasing</a>
            </li>
            <li>
              <a>
                Car deals</a>
            </li> <li>
              <a>
                Electric cars</a>
            </li> 
          </ul>
        </nav>
        <div class="login-box">
          <p>
            <svg class="inline-icon inline-icon--small inline-icon__outline inline-icon__outline--white" viewBox="0 0 24 24">
            <g stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" vector-effect="non-scaling-stroke">
              <path d="M15 15H9c-3.314 0-6 2.686-6 6v1s3.125 1 9 1 9-1 9-1v-1c0-3.314-2.686-6-6-6z" vector-effect="non-scaling-stroke"></path>
              <path d="M7 6c0-2.76 2.24-5 5-5s5 2.24 5 5-2.24 6-5 6-5-3.24-5-6z" vector-effect="non-scaling-stroke"></path>
            </g>
            
            </svg>
            <span>Log In</span>
          </p>
        </div>
    </div>
  </div>
</header>
<!-- <div class="banner-head">
  <div class="container">
    <p> <a href="">Showrooms are now open. Delivery and remote buying options available. <span> <b>Learn more</b> </span> </a> </p>
  </div>
</div> -->


  <div class="mobile-nav-mobile">
    <div class="container">
      <div class="row">
        <div class="col-md-1 col-sm-2 col-2">
          <div class="mobile-nav-button" (click)="navTrigger('navboxOne')">
            <div class="mobile-nav-button__line"></div>
            <div class="mobile-nav-button__line"></div>
            <div class="mobile-nav-button__line"></div>
          </div>

        
        </div>
        <div class="mobile-side" *ngIf="navboxType == 'navboxOne'">
          <p (click)="navboxType='boxOne'" class="cros"> <img src="assets/img/cross.png"> </p>

          

          <div class="side-color">
            <p class="login-text">Login</p>
            <div class="row">
              <div class="col">
                <div class="tabs">
                  <div class="tab">
                    <input type="checkbox" id="chck1">
                    <label class="tab-label" for="chck1">New Car</label>
                    <div class="tab-content1">
                     <div class="tab-frst" (click)="navTrigger('navboxOne')">
                     <p> By Make</p>
                     </div>
                    </div>
                    <div class="tab-content1" (click)="navTrigger('navboxTwo')">
                     <p> By Type</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="tabs">
                  <div class="tab">
                    <input type="checkbox" id="chck2">
                    <label class="tab-label" for="chck2">Used Car</label>
                    <div class="tab-content1">
                     <div class="tab-frst">
                     <p> New Car</p>
                     </div>
                    </div>
                    <div class="tab-content1" (click)="navTrigger('navboxTwo')">
                     <p> Used Car</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>



            <div class="row">
              <div class="col">
                <div class="tabs">
                  <div class="tab">
                    <input type="checkbox" id="chck3">
                    <label class="tab-label" for="chck3">Cars Review</label>
                    <div class="tab-content1" (click)="navTrigger('navboxTwo')">
                     <div class="tab-frst">
                     <p> Used Car</p>
                     </div>
                    </div>
                    <div class="tab-content1" >
                     <p> By Make</p>
                    </div>

                    <div class="tab-content1">
                     <p> By Popular Models</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <div class="tabs">
                  <div class="tab">
                    <input type="checkbox" id="chck3">
                    <label class="tab-label" for="chck3">Used Cars</label>
                    <div class="tab-content1" (click)="navTrigger('navboxTwo')">
                     <div class="tab-frst" >
                     <p> Used Car</p>
                     </div>
                    </div>
                    <div class="tab-content1" >
                     <p> By Make</p>
                    </div>

                    <div class="tab-content1">
                     <p> By Popular Models</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="bot-content">
              <h6>Help and support</h6>
          <p class="timing-title">
            Mon-Fri 08:00 - 17:30
          <br>
Weekends and bank holidays closed
        </p>
        <p class="call-mail">Call: <span>0800 808 5885</span> </p>
        <p class="call-mail">Email: <span>help@carwow.co.uk</span> </p>
            </div>
          </div>
            
        </div>

        <div class="mobile-side" *ngIf="navboxType == 'navboxTwo'" >
          <div class="row">
            <div class="col-md-6 col-sm-6 col-6">
              <p (click)="navTrigger('navboxOne');" class="back"></p>
            </div>
            <div class="col-md-6 col-sm-6 col-6">
              <p  class="cros2"> <img src="assets/img/cross.png" (click)="navboxType='boxOne'"> </p>
            </div>
          </div>
          <div class="side-color">
         <div class="mob-su-main">

          <p> <a href="https://www.carwow.co.uk/audi" style="color:black">Audi</a></p>
          <p> <a href="https://www.carwow.co.uk/audi" style="color:black">Audi1</a></p>
          <p> <a href="https://www.carwow.co.uk/audi"style="color:black">Audi2</a></p>
          <p> <a href="https://www.carwow.co.uk/audi"style="color:black">Audi3</a></p>
         </div>
         </div>


        </div>

        <div class="col-md-10 col-sm-10 col-10">
          <div class="mb-logo-box">
            <h3><b>autodeal</b></h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <nav class="main-menu">
    
      <ul class="main-menu-items hidden">
        <p class="login-text">Login</p>
        <div class="row">
          <div class="col">
            <div class="tabs">
              <div class="tab">
                <input type="checkbox" id="chck1">
                <label class="tab-label" for="chck1">Item 1</label>
                <div class="tab-content1">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                </div>
                <div class="tab-content1">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                </div>

                <div class="tab-content1">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                </div>
                <div class="tab-content1">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                </div>
                <div class="tab-content1">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                </div>
                <div class="tab-content1">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                </div>
                <div class="tab-content1">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                </div>
                <div class="tab-content1">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                </div>
              </div>
            </div>
          </div>
        
        </div>


        <div class="row">
          <div class="col">
            <div class="tabs">
              <div class="tab">
                <input type="checkbox" id="chck1">
                <label class="tab-label" for="chck1">Item 1</label>
                <div class="tab-content1">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                </div>
                <div class="tab-content1">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                </div>

                <div class="tab-content1">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                </div>
                <div class="tab-content1">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                </div>
                <div class="tab-content1">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                </div>
                <div class="tab-content1">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                </div>
                <div class="tab-content1">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                </div>
                <div class="tab-content1">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum, reiciendis!
                </div>
              </div>
            </div>
          </div>
        
        </div>


        
      </ul>
  </nav> -->
